body {
  margin: 0;
  padding: 0;
}

.header {
  height: 4rem;
}

.headerContainer {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 2rem);
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
}

.logo {
  color: black;
  text-decoration: none;
}

.loginWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  cursor: pointer;
}

.serch {
  margin-right: 0.75rem;
  text-decoration: none;
}

.login {
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  background-color: black;
  color: white;
}

.mainContainer {
  height: 100%;
  width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
}

.menuWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.sort {
  display: flex;
  position: relative;
  width: 14rem;
}

.trand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 3rem;
  font-size: 1.25rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.new {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 3rem;
  font-size: 1.25rem;
  cursor: pointer;
  text-decoration: none;
  color: gray;
}

.underbar {
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: 0px;
  background-color: black;
}

.contentWrapper {
  margin-top: 1.5rem;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 20rem;
}

.contentHeader {
  color: black;
  text-decoration: none;
}

.imageWrapper {
  width: 100%;
  padding-top: 52%;
  position: relative;
}
.image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentMain {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
